.wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.wrapper > svg {
    height: 32px;
    min-width: 32px;
}

.wrapper > svg > path {
    fill: var(--shiki-color-text);
}

.wrapper > h1 {
    width: 0%;

    font-size: 16px;
    font-weight: 500;

    opacity: 0;
    transform: translateX(-20px);
    transition: 0.3s ease;
}

.wrapper:hover > h1 {
    width: 100%;
    opacity: 1;
    transform: translateX(0);
}

.label {
    color: #10b981;
    font-size: 13px;
    font-weight: 500;

    padding: 3px 5px;
    background-color: #10b98140;

    border: 1px solid #0f865f90;
    border-radius: 6px;
}